<div id="wrapper" class="container">


    <div id="sidebar-wrapper">

        <div style="display: flex;">
            <div style="background-color: white;border-radius: 50%;border: 1px solid black;">
                <img src="../../assets/Images/ai.png" width="100px" height="100px" style="padding: 10px;" alt="">
            </div>
            <h4 style="padding-top: 40px;padding-left: 20px;font-weight: bold;">Aitrich Technologies</h4>
        </div>

        <ul class="sidebar-nav">
            <li>
                <a routerLink="/dashboard">
                    <h4>Dashboard</h4>
                </a>
            </li>
            <li>
                <a routerLink="/Profile">
                    <h4>Company Account</h4>
                </a>
            </li>


            <!-- <li>
                <a routerLink="/register">
                    <h4>Add user</h4>
                </a>
            </li> -->

            <li>
                <a routerLink="/usermanagement">
                    <h4>User mangement</h4>
                </a>
            </li>
        </ul>
    </div>


</div>