<div id="wrapper">


    <div id="sidebar-wrapper">

        <div style="display: flex;">
            <img src="../../assets/Images/avatar.png" width="100px" height="100px" style="padding: 10px;" alt="">
            <h5 style="padding-top: 40px;padding-left: 20px;">JASON STATHAM</h5>
        </div>

        <ul class="sidebar-nav">
            <li>
                <a routerLink="/dashboard">
                    <h4>Dashboard</h4>
                </a>
            </li>
            <li>
                <a routerLink="/Profile">
                    <h4>Company Profile</h4>
                </a>
            </li>


            <!-- <li>
                <a routerLink="/register">
                    <h4>Add user</h4>
                </a>
            </li> -->

            <li>
                <a routerLink="/usermanagement">
                    <h4>User mangement</h4>
                </a>
            </li>
        </ul>
    </div>


</div>