
<div id="wrapper">

   
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <img src="" alt="">
            <li>
                <a routerLink="/Profile"><h4>Profile</h4></a>
            </li>
            <li>
                <a routerLink="/dashboard"><h4>Dashboard</h4></a>
            </li>
           
            <li>
                <a routerLink="/register"><h4>Add user</h4></a>
            </li>

            <li>
                <a routerLink="/usermanagement"><h4>User mangement</h4></a>
            </li>
        </ul>
    </div>

   
</div> 


