<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card text-black" style="border-radius: 25px; height: 650px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class=" h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Company Account</p>

                <form class="mx-1 mx-md-4">

                  <div class="row">

                    <!-- First column -->
                    <div class="col-xl-4">
                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example1c" style="font-weight: bold;">Name:</label>
                          <ng-container *ngIf="!isEditingName; else editName">
                            <h4 style="width: 300px; margin-right: 500px;">{{ companyName }}<i class="bi bi-pencil-square" style="margin-left: 25px;" (click)="toggleEditName()"></i></h4>
                          </ng-container>
                          <ng-template #editName>
                            <input type="text" style="width: 300px; margin-right: 500px;" class="form-control" [(ngModel)]="companyName" (blur)="toggleEditName()" (keydown.enter)="toggleEditName()">
                          </ng-template>
                        </div>
                      </div>
                      
                      

                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example3c" style="font-weight: bold;">Email:</label>
                          <h4 style="width: 300px;margin-right: 500px;">aitrich@gmail.com<i class="bi bi-pencil-square" style="margin-left: 25px;"></i></h4>
                        </div>
                      </div>

                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example4cd" style="font-weight: bold;">username:</label>
                          <h4 style="width: 300px;margin-right: 500px;">aitrich123<i class="bi bi-pencil-square" style="margin-left: 25px;"></i></h4>

                        </div>
                      </div>

                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example4c" style="font-weight: bold;">Password:</label>
                          <h4 style="width: 300px;margin-right: 500px;">aitrich1234<i class="bi bi-pencil-square" style="margin-left: 25px;"></i></h4>
                        </div>
                      </div>
                    </div>

                    <!-- Second column -->
                    <div class="col-lg-4">
                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example1c" style="font-weight: bold;">Location:</label>
                          <h4 style="width: 300px">Thrissur<i class="bi bi-pencil-square" style="margin-left: 25px;"></i></h4>

                        </div>
                      </div>

                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example3c" style="font-weight: bold;">Age:</label>
                          <h4 style="width: 300px">20<i class="bi bi-pencil-square" style="margin-left: 25px;"></i></h4>

                        </div>
                      </div>

                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example4cd" style="font-weight: bold;">Phone:</label>
                          <h4 style="width: 300px">1234567890<i class="bi bi-pencil-square" style="margin-left: 25px;"></i></h4>

                        </div>
                      </div>

                      <div class="d-flex flex-column align-items-center mb-4">
                        <div class="form-outline mb-0">
                          <label class="form-label" for="form3Example4c" style="font-weight: bold;">Gender:</label>
                          <h4 style="width: 300px">MALE<i class="bi bi-pencil-square" style="margin-left: 25px;"></i></h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-4" >
                      <div style="background-color: white;border-radius: 50%;width: 300px;height: 300px;border: 1px solid black;margin-left: 100px;">
                        <img src="../../assets/Images/ai.png" width="250px" height="250px" alt="" style="margin-top: 25px;margin-left: 25px;" >

                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 col-lg-2">
                      <button type="button" class="btn btn-primary btn-lg">Save</button>
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 col-lg-2">
                      <button type="button" class="btn btn-danger btn-lg">Cancel</button>
                    </div>
                  </div>
                  

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
