<!-- <table class="table table-dark table-striped-columns">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td></td>
        </tr>
      </tbody>
  </table> -->




  <section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card text-black" style="border-radius: 25px;height: 650px;padding: 20px;">
            <p class="h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">User Management</p>
            <!-- <button class="btn btn-success float-right mb-3 add">Add</button> -->
            <button class="btn btn-success float-right mb-3 add" routerLink="/register">Add</button>
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." id="searchInput">
                    <div class="input-group-append">
                      <button class="btn btn-outline-success" type="button" id="searchButton">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Search bar -->
            
            <div class="table-container" style="max-height: 400px; overflow-y: auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>lastName</th>
                    <th>email</th>
                    <th>phoneNumber</th>
                    <th>address</th>
                    <th>location</th>
                    <th>gender</th>
                    <th>Action</th>
                  </tr>

                  <tr *ngFor="let user of userData">
                    <td>{{user.firstname }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <!-- display other user information -->
                  </tr>
                </thead>
                <tbody>
                  

                      <!-- <tr *ngFor="let user of userData">
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.location }}</td>
                        <td>{{ user.gender }}</td>
                        
                      
                      <button class="btn btn-primary btn-sm mr-2">Edit</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    
                  </tr> -->
                  <!-- <tr>
                    <td>Vikram</td>
                    <td>123 Main St</td>
                    <td>New York</td>
                    <td>USA</td>
                    <td>30</td>
                    <td>Male</td>
                    <td>vikram_21</td>
                    <td>
                      <button class="btn btn-primary btn-sm mr-2">Edit</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  <tr> -->
                    <tr>
                    <td>JACK</td>
                    <td>hill</td>
                    <td>jack@gmail.com</td>
                    <td>1234567890</td>
                    <td>123 Main St</td>
                    <td>USA</td>
                    <td>Male</td>
                    <td>
                      <button class="btn btn-primary btn-sm mr-2">Edit</button>
                      <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr> 
                  <!-- Add more rows as needed -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  